* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    font-family: "Helvetica Neue", "PingFangSC-Light", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background-color: #eceff3;
    color: #444;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}

input, a, button {
    transition: background-color ease-in-out .15s, color ease-in-out .15s, border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.anim-fade-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.anim-fade-out {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
}

.anim-flash {
    -webkit-animation-name: flash;
    animation-name: flash
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }

    0% {
    }
}

@keyframes flash {
    0%,50%,to {
        opacity: 1
    }

    25%,75% {
        opacity: 0
    }
}

.app {
    margin-top: 80px;
    margin-bottom: 20px;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
}

.navbar-inner {
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.navbar-brand {
}

.navbar-brand > .logo {
    width: 30px;
    height: 30px;
    display: block;
    text-indent: -9999em;
    background-image: url(../img/icon.svg);
}

.navbar-search {
    flex: 1;
    margin-left: 40px;
    border-left: 1px solid #F4F4F4;
    padding-left: 40px;
}

.navbar-search-form {
}

.navbar-search-form .search-site-selector {
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
}

.navbar-search-form .search-site-selector .option-selected {
    position: relative;
    padding-right: 35px;
    padding-left: 18px;
    background-color: #f9f9f9;
    border: 1px solid #efefef;
    border-radius: 3px;
    height: 100%;
    line-height: 28px;
    min-width: 85px;
}

.navbar-search-form .search-site-selector .option-selected:after {
    content: "\f2f2";
    font-family: 'Material-Design-Iconic-Font';
    position: absolute;
    display: inline-block;
    width: 15px;
    text-align: center;
    padding-right: 10px;
    right: 0;
}

.navbar-search-form .search-site-selector .options {
    display: none;
    border-radius: 0 0 3px 3px;
    background: rgba(255, 255, 255, 0.93);
    border: 1px solid #F4F4F4;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.05);
}

.navbar-search-form .search-site-selector .options.show {
    display: block;
}

.navbar-search-form .search-site-selector .options .item {
    display: block;
    cursor: pointer;
    user-select: none;
    padding: 3px 16px;
    transition: background .2s;
    border-left: 1px solid transparent;
}

.navbar-search-form .search-site-selector .options .item:hover, .navbar-search-form .search-site-selector .options .item.selected {
    background: #FBFBFB;
    border-left: 1px solid #0083ff;
}

.navbar-search-form .search-input {
    background-color: #f9f9f9;
    border: 1px solid #efefef;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    padding: 0 12px;
    font-size: 14px;
    color: #555;
    outline: none;
    border-radius: 3px;
    width: 350px;
}

.navbar-search-form .search-input:focus {
    border: 1px solid #1185fe;
}

.navbar-search-form .search-submit {
    height: 30px;
    padding: 0 12px;
    background-color: #FFF;
    border: 1px solid #efefef;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
}

.navbar-search-form .search-submit:hover {
    border: 1px solid #1185fe;
    background-color: #1185fe;
    color: #FFF;
}

.music-list {
}

.music-list-inner {
}

.music-list-main {
    background-color: #FFF;
    padding: 10px 0;
    border-radius: 3px;
}

.music-list-item {  }

.music-list-item:not(:last-child) {
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.music-list-item-inner {
    padding: 10px 25px;
    margin: 20px 0;
    border-left: 2px solid transparent;
}

.music-list-item-inner:hover {
    border-left: 2px solid #1185fe;
}

.music-list-item .title {
    font-size: 19px;
}

.music-list-item .author {
    color: #6a737d;
}

.music-list-item .album {
    color: #6a737d;
}

.music-list-item .actions {
    margin-top: 10px;
}

.music-list-item .action-item {
    text-decoration: none;
}

.music-list-item .action-item > i {
    margin-right: 10px;
}

.music-list-loading {
    background-color: #FFF;
    padding: 15px 0;
    margin-top: 10px;
    border-radius: 3px;
}

.music-list-pagination {
    background-color: #FFF;
    padding: 15px 0;
    margin-top: 10px;
    border-radius: 3px;
    text-align: center;
}

.music-list-pagination .pre-page, .music-list-pagination .nxt-page {
    width: 100px;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    transition: color ease-in-out .15s, background-color ease-in-out .15s;
    padding: 7px 0;
}

.music-list-pagination .pre-page {
    margin-right: 20px;
}

.music-list-pagination .pre-page:hover, .music-list-pagination .nxt-page:hover {
    background-color: #0083ff;
    color: #FFF;
}

/* spinner loading */
.spinner-root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.spinner-spinner {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px
}

.spinner-large {
    width: 35px;
    height: 35px
}

.spinner-large .spinner-blade {
    width: 8.57143%;
    height: 25.71429%;
    border-radius: 50%/16.67%
}

.spinner-white-15Os .spinner-blade {
    background-color: #fff
}

@-webkit-keyframes spinner-fade {
    0% {
        opacity: .85
    }

    50% {
        opacity: .25
    }

    to {
        opacity: .25
    }
}

@keyframes spinner-fade {
    0% {
        opacity: .85
    }

    50% {
        opacity: .25
    }

    to {
        opacity: .25
    }
}

.spinner-blade {
    position: absolute;
    left: 44.5%;
    top: 37%;
    width: 10%;
    height: 25%;
    border-radius: 50%/20%;
    background-color: #8c8c8c;
    -webkit-animation: spinner-fade 1s linear infinite;
    animation: spinner-fade 1s linear infinite
}

.spinner-blade:first-child {
    -webkit-animation-delay: -1.66667s;
    animation-delay: -1.66667s;
    -webkit-transform: rotate(30deg) translateY(-150%);
    transform: rotate(30deg) translateY(-150%)
}

.spinner-blade:nth-child(2) {
    -webkit-animation-delay: -1.58333s;
    animation-delay: -1.58333s;
    -webkit-transform: rotate(60deg) translateY(-150%);
    transform: rotate(60deg) translateY(-150%)
}

.spinner-blade:nth-child(3) {
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
    -webkit-transform: rotate(90deg) translateY(-150%);
    transform: rotate(90deg) translateY(-150%)
}

.spinner-blade:nth-child(4) {
    -webkit-animation-delay: -1.41667s;
    animation-delay: -1.41667s;
    -webkit-transform: rotate(120deg) translateY(-150%);
    transform: rotate(120deg) translateY(-150%)
}

.spinner-blade:nth-child(5) {
    -webkit-animation-delay: -1.33333s;
    animation-delay: -1.33333s;
    -webkit-transform: rotate(150deg) translateY(-150%);
    transform: rotate(150deg) translateY(-150%)
}

.spinner-blade:nth-child(6) {
    -webkit-animation-delay: -1.25s;
    animation-delay: -1.25s;
    -webkit-transform: rotate(180deg) translateY(-150%);
    transform: rotate(180deg) translateY(-150%)
}

.spinner-blade:nth-child(7) {
    -webkit-animation-delay: -1.16667s;
    animation-delay: -1.16667s;
    -webkit-transform: rotate(210deg) translateY(-150%);
    transform: rotate(210deg) translateY(-150%)
}

.spinner-blade:nth-child(8) {
    -webkit-animation-delay: -1.08333s;
    animation-delay: -1.08333s;
    -webkit-transform: rotate(240deg) translateY(-150%);
    transform: rotate(240deg) translateY(-150%)
}

.spinner-blade:nth-child(9) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    -webkit-transform: rotate(270deg) translateY(-150%);
    transform: rotate(270deg) translateY(-150%)
}

.spinner-blade:nth-child(10) {
    -webkit-animation-delay: -.91667s;
    animation-delay: -.91667s;
    -webkit-transform: rotate(300deg) translateY(-150%);
    transform: rotate(300deg) translateY(-150%)
}

.spinner-blade:nth-child(11) {
    -webkit-animation-delay: -.83333s;
    animation-delay: -.83333s;
    -webkit-transform: rotate(330deg) translateY(-150%);
    transform: rotate(330deg) translateY(-150%)
}

.spinner-blade:nth-child(12) {
    -webkit-animation-delay: -.75s;
    animation-delay: -.75s;
    -webkit-transform: rotate(1turn) translateY(-150%);
    transform: rotate(1turn) translateY(-150%)
}
